student.dtd

<!ELEMENT studentProfile (student+)>
<!ELEMENT student (rollNo, name, age, semester, email, phone, department, applied)>
<!ELEMENT rollNo (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT age (#PCDATA)>
<!ELEMENT semester (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT phone (#PCDATA)>
<!ELEMENT department (#PCDATA)>
<!ELEMENT applied (#PCDATA)>
<!-- 4th -->